@font-face {
    font-family: MyriadPro;
    src: url(../fonts/MyriadPro-Regular.otf);
}

html, body {
    margin: 0px;
    height: 100%;
    min-width: 600px;
    -webkit-user-select: none;
    -moz-user-select: none;
    font-family: MyriadPro, Arial;
}

.container {
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1230px) {
    .container {
        width: 1200px;
    }
}

.header {
    border-bottom: 1px solid #fbfbfb;
}

.page-wrapper {
    min-height: 100%;
}

.content {
    box-sizing: border-box;
    padding-bottom: 44px;
    padding-left: 0px;
    margin-top: 12px;
}

.header__top, .footer {
    min-height: 110px;
    background-color: #151515;
    background: linear-gradient(to bottom, #343434, #151515);
    border-bottom: 1px solid #000;
}

.footer {
    margin-top: -47px;
    min-height: 40px;
    border: 0;
}

.menu-filter__wrapper {
    min-height: 60px;
    background: #f8bb49;
    background: linear-gradient(to bottom, #f8bb49, #f7941d);
    border-top: solid 1px #fcdda4;
    border-bottom: solid 1px #a16013;
}

.menu-filter {
    padding: 0px;
    margin: 0px;
    margin-top: 10px;
    font-size: 21px;
}

.menu-filter ul {
    list-style-type: none;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}

.menu-filter ul > li {
    float: left;
    padding-right: 37px;
}

.menu-filter__tab a {
    display: block;
    text-transform: uppercase;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 11px;
    padding-bottom: 11px;
    text-decoration: none;
    color: #333333;
    font-size: 12px;
}

.menu-filter__tab_active a {
    color: #ff9d00;
    background: #151515;
    border-radius: 5px;
}

.paginator {
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 40px;
    overflow: hidden;
}

.paginator__content {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    min-width: 0px;
    max-width: 350px;
    width: 0px;
    overflow: hidden;
}

.paginator__list {
    width: 10000px;
    overflow: hidden;
    position: relative;
    left: 0;
    transition: .3s;
}

.paginator__prev,
.paginator__next,
.paginator__item {
    float: left;
    min-width: 20px;
    border: 1px solid rgb(227, 227, 227);
    background-color: rgb(240, 240, 240);
    text-align: center;
    cursor: pointer;
    margin: 10px 2px;
    padding: 2px;
}

.paginator__list .active {
    background-color: rgb(129, 126, 126);
}

.element__image {
    float: left;
}

.element__image img {
    height: 120px;
    width: 120px;
    border: 1px solid black;
}

.element__content {
    margin-left: 145px;
}

.element__line {
    margin-bottom: 5px;
}

.element {
    margin-bottom: 10px;
}

.logo__img {
    margin-right: 28px;
    margin-top: 9px;
    color: black;
    border: 1px solid white;
    float: left;
    height: 91px;
    width: 91px;
}

.logo__img > img {
    height: 91px;
    width: 91px;
}

.logo {
    overflow: hidden;
    float: left;
}

.logo__title {
    color: white;
    margin-left: 0px;
    margin-top: 12px;
    font-size: 35px;
    float: left;
}

.search-form {
    overflow: hidden;
    color: white;
    margin-top: 15px;
    margin-left: 44px;
    margin-bottom: 12px;
    font-size: 15px;
    min-width: 500px;
    float: left;
}

.search-form__title {
    margin-bottom: 6px;
}

.search-form__group-title {
    float: left;
    width: 18px;
}

.search-form__input {
    color: white;
    font-family: MyriadPro, arial;
    margin-left: 3px;
    max-width: 89px;
    height: 16px;
    background: #f8bb49;
    background: linear-gradient(to bottom, rgb(242, 205, 135), rgb(244, 179, 102));
}

.search-form__column {
    margin-right: 20px;
    float: left;
}

.search-form__group {
    padding-top: 5px;
}

.unvisible-submit {
    display: none;
}

@media (max-width: 992px) {
    .menu-filter ul > li {
        float: none;
        padding-right: 113px;
    }

    .search-form {
        margin-top: 34px;
    }

    .container {
        padding-left: 9%;
    }

    .search-form__column:last-child {
        margin-left: 304px;
    }

    .menu-filter {
        width: 530px;
    }

    .menu-filter__tab {
        display: none;
    }

    .menu-filter__tab.menu-filter__tab_active {
        display: block;
    }

    .menu-filter:hover .menu-filter__tab {
        display: block;
    }
}

.element__continent-fields {
    text-transform: capitalize;
}
